.ft-section
    .ft-page
        .stack-center
            .stacked-center
                .hero
                    img(src="img/launchcode-logo.svg")
                p.page-title
                    h1 An Introduction to Operating Systems
                    p Through the Lens of GNU/Linux
                        
                p Michael T Schmidt 
                    br
                    a(href="http://schmidmt.com") (schmidmt.com)

    .ft-page
        .stack-center
            .stacked-center
                h1 Topic Covered
                ol
                    li Linux Organization
                    li File Systems
                    li Processes
                    li Memory Virtualization
