.ft-section(data-title='Linux')
    .ft-page
        h1 What is GNU/Linux?
        p.ft-fragment Simply, a completely opensource operating system.
        p.ft-fragment More succinctly, Linux is the kernel and the GNU tool-chain provides the userland. (More on this in a minute)
        p.ft-fragment GNU/Linux was, originally, a replacement for Unix on x86 processors.
        p.ft-fragment It has since become the preferred system for infrastructure, toy projects, and scientific computing.

    .ft-page
        h1 Why do people use GNU/Linux?
        p.ft-fragment GNU/Linux is free, opensource, community driven.
        p.ft-fragment If you want to know how something works, go look.

        
    .ft-page
        h1 The Kernel
        p.ft-fragment The kernel was created by Linus Torvalds as an open source replacement for Unix on x86 hardware.
        p.ft-fragment The Linux Foundation now manages the Linux Kernel (see 
            a(href='https://www.kernel.org') kernel.org
            |)
        div.ft-fragment
            p Its structure is classified as a Monolithic Kernel
            img(src='img/OS-structure2.svg', style='height: 275px')
    .ft-page
        h1 GNU Toolchain
        The GNU toolchain is a fairly large collection of userland tools.
        This includes:
        ol
            li Bash - Usual Shell
            li linux-utils-ng - Generic Tools
            li init - Initialization system
            li etc...

