section
  h1 Javascript
  h3 05 - JQuery

  h4 Announcements
  ul
    li Thursday, Oct 13th, between classes there will be a disucssion of tech résumés.


section
  section
    h2 JQuery
    p.fragment JQuery is a DOM toolkit which simplifies many of the common operations.

  section
    h2 JQuery and CSS Selectors
    p.fragment JQuery uses CSS selectors to select DOM elements.
    ul.fragment
      li #[code .class] Selects all nodes with class "class".
      li #[code #tag] Select all nodes with id "tag".
      li #[code a[href]] Selects all a tags with href properties.

  section
    h2 Using JQuery's #[code $]
    p.fragment You can access JQuery's interface via the $ symbol.
    p.fragment $ is a function that returns an Array like object which contains each matching element.
  
    p.fragment Example.

  section
    h2 Methods Available
    p.fragment JQuery has many methods available for DOM manipulation, here's a few
    ul.fragment
      li #[code .add]
      li #[code .attr]
      li #[code .css]
      li #[code .hide]
    p.fragment And many more. See https://api.jquery.com/

section
  h2 Studio - Mario 6
