section
  h1 Java
  h3 02 - Classes
  ul
    li Theater seating style, move to the front and middle
    li Surveys!!!

section
  h2 Moving from Python and Java
  h4 Containers
  table
    thead
      tr
        th Python
        th Java
    tbody
      tr
        td list
        td ArrayList or Vector
      tr
        td dict
        td HashMap or TreeMap
      tr
        td set
        td Set

section
  section
    h2 Thinking about Classes
    ul
      li.fragment Functions are useful to transform things.
      li.fragment Pure functions have no side-effects.
      li.fragment Functions cannot keep state.
      li.fragment Classes can keep track of state in their instance properties.
      li.fragment Classes can use methods to transform their state.

  section
    h2 Class Uses
    p Classes are useful when you need to keep track of something that has actions and properties.
    p.fragment A class representation of a thing lets you abstract details into a single unit.

section
  section
    h2 Class Example
    p.fragment Let's create a savings account class.
    h4.fragment Properties
    ul
      li.fragment ammount
      li.fragment intrest_rate
    h4.fragment Methods
    ul
      li.fragment getAmmount
      li.fragment getInterestRate
      li.fragment add
      li.fragment remove
      li.fragment accrueInterest

  section
    h2 Writing it up
    p Fire up Eclipse to follow along.
