.ft-section
    .ft-page
        .stack-center
            .stacked-center
                .hero
                    img(src="img/launchcode-logo.svg")
                p.page-title
                    h1 Command Line Coding
                    p Standard Tools and BASH
                        
                p Michael T Schmidt 
                    br
                    a(href="http://schmidmt.com") (schmidmt.com)

    .ft-page
        .stack-center
            .stacked-center
                h1 Topic Covered
                ol
                    li Variables (Environment)
                    li Conditionals and Tests
                    li Loops
                    li Arithmetic 
                    li Helpful Commands
