.ft-section(data-title="Arithmetic")
    .ft-page
        h1 Arithmetic
        p All arithmetic is done in brackets as follows
        pre
            code.language-bash
                :code
                    $(( NUMBER OPERATOR NUMBER ))
