.ft-section(data-title="Shell Scripts")
    .ft-page
        h1 Shell Scripts
        p To execute a script of shell commands the file must begin with the following
        pre
            code.language-bash
                :code
                    #!/bin/sh

    .ft-page
        h1 ShellCheck
        p There is a helpful program for error checking called "shellcheck" which can be found 
            a(href="https://github.com/koalaman/shellcheck") here
        | .
