doctype html
html
    head
        title LaunchCode - Operating Systems
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,500italic,700italic,400italic,500', rel='stylesheet', type='text/css')
        // inject:css
        // endinject

    body
        .flowtime
            include slides/*.jade

        // inject:js
        // endinject
        // script(src="./script.js")
